@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/buttons" as *;
@use "../../../styles/typography" as *;
.newsLetter {
  width: 43%;
  margin: auto;
  margin-top: $space-lg * 2;
  text-align: center;
  p {
    margin-top: $space-md;
    margin-bottom: $space-md;
  }
  .subscribe_text {
    display: block;
    width: 70%;
    margin: auto;
    margin-top: $space-md;
  }
  .form {
    @include small_form;
    .input_wrapper {
      .search_icon {
        left: 17%;
      }
      input {
        width: 70%;
      }
      button {
        left: 67.5%;
      }
    }
  }
}
