@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
.card {
  position: absolute;
  z-index: 2;
  width: 30%;
  right: 20px;
  top: 50px;
  background-color: $card-color;
  padding: 10px;
  box-shadow: 1px 20px 50px $secondary-text-color;
  h1 {
    text-align: center;
  }
  .cardItem {
    margin: auto;
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px $secondary-text-color solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
    .cardImage {
      width: 20%;
      img {
        width: 100%;
      }
    }
    .text {
      width: 40%;
    }
    .cardButton {
      background-color: $primary-color;
      width: 25px;
      @include border-circular;
      border: none;
      color: white;
    }
  }
  .total {
    width: 50%;
    margin-left: 50%;
  }
}
