@use "./variables" as *;
@use "./mixins" as *;

@mixin buttons {
  align-self: flex-start;
  border: none;
  border: solid 1px $accent-color;
  border-radius: 0.5rem;
  width: 20%;
  padding: $space-sm;
  color: $accent-color;
  margin-top: $global-standard-margin;
  &:hover {
    background-color: $accent-color-hover;
    color: white;
  }
}
