@use "./variables" as *;
@use "./mixins" as *;

@mixin buttons {
  align-self: flex-start;
  border: none;
  border: solid 1px $accent-color;
  border-radius: 0.5rem;
  width: 20%;
  padding: $space-sm;
  color: $accent-color;
  margin-top: $global-standard-margin;
  &:hover {
    background-color: $accent-color-hover;
    color: white;
  }
}
@mixin btn-main {
  border-style: none;
  padding: $space-sm;
  @include border-medium-radius;
  padding-left: $space-md;
  padding-right: $space-md;
}
.btn {
  background-color: lighten ($btn-color, 30%);
  justify-content: space-between;
  align-items: center;
  width: 96%;
  @include btn-main;
  @include flexFacility;
  @include border-small-radius;
}
.btn_primary {
  @include btn-main;
  background-color: $primary-text-color;
  color: $card-color;

  &:hover {
    background-color: lighten ($primary-text-color, 10%);
  }
}
.btn_secondary {
  @include btn-main;
  @include border_secondary;
}
.btn_notification {
  background-color: $color-notification;
  color: $card-color;
  @include border-small-radius;
  padding: ($space-sm)-6;
}
