@use "./variables" as *;
@use "./mixins" as *;

@mixin buttons {
  align-self: flex-start;
  border: none;
  border: solid 1px $accent-color;
  border-radius: 0.5rem;
  width: 20%;
  padding: $space-sm;
  color: $accent-color;
  margin-top: $global-standard-margin;
  &:hover {
    background-color: $accent-color-hover;
    color: white;
  }
}

.btn {
  background-color: $btn-color;
  align-items: center;
  padding-bottom: $space-sm;
  padding-top: $space-sm;
  justify-content: space-between;
  width: 96%;
  padding-left: $space-sm;
  padding-right: $space-sm;
  border-style: none;
  @include flexFacility;
  @include border-small-radius;
}
.btn_notification {
  background-color: $color-notification;
  color: $card-color;
  @include border-small-radius;
  padding: ($space-sm)-6;
}
