@use "./variables" as *;
@mixin border-circular {
  border-radius: 20px;
}

@mixin round-profile {
  border-radius: 100%;
  overflow: hidden;
  flex-shrink: 0; // prevent shrinking if container is small
  img {
    width: 100%;
  }
}
@mixin border-small-radius {
  border-radius: 5px;
}
@mixin border-medium-radius {
  border-radius: 20px;
}

@mixin flexFacility {
  display: flex;
  align-items: center;
}

@mixin gradient {
  background: linear-gradient(
    to right,
    $primary-personal-offer,
    $secondary-personal-offer
  );
}

@mixin global-layout-spacing {
  width: 90%;
  margin: auto;
  margin-top: $space-lg;
}
@mixin border_secondary {
  border: 0.3px solid $secondary-text-color;
}
