@mixin border-circular {
  border-radius: 20px;
}

@mixin round-profile {
  border-radius: 100%;
  overflow: hidden;
  flex-shrink: 0; // prevent shrinking if container is small
  img {
    width: 100%;
  }
}

@mixin flexFacility {
  display: flex;
  align-items: center;
}
