@use "./variables" as *;
h1 {
  font-weight: 600;
  font-size: 3rem;
}
h2 {
  font-size: 1.3rem;
}

.big_paragraph {
  font-size: 1.1rem;
  font-weight: 300;
}
.small_paragraph {
  color: $secondary-text-color;
  font-weight: 300;
  font-size: 0.9rem;
}
h1,
h2,
h3,
p {
  margin-bottom: $space-sm;
}
