$primary-color: #00cfff;
$accent-color: #ff9900;
$accent-color-hover: #e68a00;
$primary-text-color: #1a1a1a;
$secondary-text-color: #555555;
$background-color: #ffffff;
$card-background-color: #f5f5f5;
$border-color: #e0e0e0;

$card-color: white;
$global-font: "Lexend", sans-serif;
$global-standard-padding: 5%;
$bigger-padding: 10%;
$card-padding: 3%;
$global-standard-margin: 5%;
