$primary-color: #00cfff;
$accent-color: #ff9900;
$accent-color-hover: #e68a00;
$primary-text-color: #1a1a1a;
$secondary-text-color: #555555;
$background-color: #ffffff;
$card-background-color: #f5f5f5;
$border-color: #e0e0e0;
$primary-personal-offer: #f7c6a0d5;
$secondary-personal-offer: #f6a490c8;
$btn-color: rgb(210, 210, 210);
$card-color: white;
$global-font: "Lexend", sans-serif;
$color-notification: red;
$global-standard-padding: 5%;
$bigger-padding: 10%;
$card-padding: 3%;
$global-standard-margin: 5%;
$space-sm: 10px;
$space-md: 20px;
$space-lg: 40px;
