@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.text {
  width: 100%;
  position: relative;
  h2 {
    margin-bottom: $space-sm;
    font-weight: 500;
  }

  .price {
    display: flex;
    gap: 5%;
    margin-bottom: $space-sm;
    p {
      color: $secondary-text-color;
      text-decoration: line-through;
    }
  }
  .view_more {
    @include flexFacility;
  }
  p {
    color: $secondary-text-color;
    margin-bottom: $space-sm;
  }
  .stars {
    color: $accent-color;
    margin-bottom: $space-sm;
  }
}
