@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.lastViewed {
  @include global-layout-spacing;

  .container_items {
    @include flexFacility;
    justify-content: space-between;
    .item {
      background-color: $card-background-color;
      width: 19%;
      box-sizing: border-box;
      padding: $space-md;
      img {
        width: 100%;
      }
    }
  }
}
