@use "../../../styles/variables" as *;
@use "../../../styles/typography" as *;
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: $global-standard-padding;
  padding-right: $global-standard-padding;
  padding-top: $space-sm;
  padding-bottom: $space-sm;

  ul {
    display: flex;
    align-items: center;
    gap: 20px;

    li {
      display: flex;
      list-style: none;
      align-items: center;
      color: $primary-text-color;
      cursor: default;
      &:hover {
        color: $accent-color-hover;
      }
    }
  }
  .logo {
    width: 5%;
    img {
      width: 100%;
    }
  }
}
